
h2 {
    font-family: "Playfair Display";
    font-weight: bold;
}

h3 {
    font-family: "Raleway";
}

p {
    font-family: "Source Sans 3";
}


/* header */




/* about */



/* projects */



/* contact */


/* footer */